asgiref==3.5.2
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.1.4
django-import-export==3.0.2
django-jazzmin==2.6.0
et-xmlfile==1.1.0
import-export==0.3.1
MarkupPy==1.14
nltk==3.4.1
numpy==1.24.1
odfpy==1.4.1
openpyxl==3.0.10
pandas==1.5.2
Pillow==9.4.0
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0
reportlab==3.6.12
six==1.12.0
sqlparse==0.4.3
tablib==3.3.0
textblob==0.15.3
xlrd==2.0.1
xlwt==1.3.0